@use '../../../styles/variables.scss' as *;

.primary {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        background-color: $primaryColor;
        color: $white;
        font-size: $font-size-subtitle;
        font-weight: $font-bold;
        line-height:  1.3846;
        letter-spacing: $letter-spacing-subtitle;
        text-transform: uppercase;
        padding: .9375rem 1.8438rem .9375rem 1.9688rem;

        &:hover {
            background-color: $accentColor;
            color: $white;
        }
    }
}

.outline {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        background-color: transparent;
        border: 1px solid $black;
        color: $black;
        font-size: $font-size-subtitle;
        font-weight: $font-bold;
        letter-spacing: $letter-spacing-subtitle;
        padding: .9375rem 1.8438rem .9375rem 1.9688rem;

        &:hover {
            background-color: $black;
            color: $white;
        }
    }
    text-transform: uppercase;
}

.link {
    display: flex;
    justify-content: center;
    align-items: center;

    a {
        background-color: transparent;
        color: $black;
        opacity: 0.5;
        font-size: $font-size-subtitle;
        font-weight: $font-bold;
        letter-spacing: $letter-spacing-subtitle;

        &:hover {
            opacity: 1;
            color: $primaryColor;
        }
    }

    img {
        display: inline;
    }

    text-transform: uppercase;
}